:root {
  --rotation: 0deg;
  --rotationHover: 180deg; 
  --navTranslate: 50px;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto;
  background-color: black;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto;
  text-decoration: none;
}